<%= form_with(model: restaurant_daily_menu, local: false) do |form| %>
  <div class="modal-body">
    <ul class="errors">
    </ul>

  

  

  <div class="form-group">
    <%= form.label :restaurant_id, "Restaurant", class: "required" %>
    <%= form.collection_select :restaurant_id, @restaurants, :id, :name,{prompt: "Sélectionner"}, class: "form-control",  style: "width: 100%", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :food_id, "Nourriture", class: "required" %>
    <%= form.collection_select :food_id, @foods, :id, :name,{prompt: "Sélectionner"}, class: "form-control",  style: "width: 100%", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :day, "Jour", class: "required" %>
    <%= form.select :day, DAYS, {prompt: "Sélectionner"},  class: "form-control", required: true %>
  </div>

  

  </div><!-- modal body -->
  <div class="modal-footer">
    <%= link_to "Annuler", "#", class: "btn btn-secondary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1", data: {dismiss: "modal"} %>
    <%= form.submit  "Enregistrer", class: "btn btn-primary tx-mont tx-medium tx-11 tx-uppercase pd-y-12 pd-x-25 tx-spacing-1",  "data-loading-text"=>"Loading...", autocomplete: "off" %>
  </div>
<% end %>
