<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @restaurant_daily_menu.uid %>
</p>

<p>
  <strong>Day:</strong>
  <%= @restaurant_daily_menu.day %>
</p>

<p>
  <strong>Food:</strong>
  <%= @restaurant_daily_menu.food_id %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @restaurant_daily_menu.restaurant_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @restaurant_daily_menu.status %>
</p>

<p>
  <strong>Account:</strong>
  <%= @restaurant_daily_menu.account_id %>
</p>

<%= link_to 'Edit', edit_restaurant_daily_menu_path(@restaurant_daily_menu) %> |
<%= link_to 'Back', restaurant_daily_menus_path %>
