<%= form_with(model: restaurant_opening_time) do |form| %>
  <% if restaurant_opening_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant_opening_time.errors.count, "error") %> prohibited this restaurant_opening_time from being saved:</h2>

      <ul>
        <% restaurant_opening_time.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :uid %>
    <%= form.text_field :uid %>
  </div>

  <div class="field">
    <%= form.label :restaurant_id %>
    <%= form.text_field :restaurant_id %>
  </div>

  <div class="field">
    <%= form.label :day %>
    <%= form.text_field :day %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.time_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.time_select :end_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
