<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @order.uid %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer_id %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @order.restaurant_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
