<!-- ########## START: LEFT PANEL ########## -->

      <ul class="br-sideleft-menu">
       <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-home tx-20"></i> <span class="menu-item-label">Tableau de bord</span>'), dashboard_path, class: "br-menu-link #{current? "active", dashboard_path}" %>
        </li><!-- br-menu-item -->

        <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-book tx-20"></i> <span class="menu-item-label">Restaurants</span>'), restaurants_path, class: "br-menu-link #{current? "active", restaurants_path}" %>
        </li><!-- br-menu-item -->

        
       

       
    



          </ul>
        </li>


        


        <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
            <i class="fa fa-cog tx-20"></i>
            <span class="menu-item-label">Paramètres</span>
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub">

            <li class="sub-item">
                <%= link_to  "Fonctionalités", features_path, class: "sub-link #{current? "active", features_path}" %>
            </li>
            
            <li class="sub-item">
                <%= link_to  "Rôles", roles_path, class: "sub-link #{current? "active", roles_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Droits d'accès", permissions_path, class: "sub-link #{current? "active", permissions_path}" %>
            </li>



            <li class="sub-item">
                <%= link_to  "Utilisateurs", all_accounts_path, class: "sub-link #{current? "active", all_accounts_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Villes", cities_path, class: "sub-link #{current? "active", cities_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Statuts des commandes", order_statuses_path, class: "sub-link #{current? "active", order_statuses_path}" %>
            </li>

            

            
            

            



          



          </ul>
        </li>


       
      </ul><!-- br-sideleft-menu -->

      
       
        
      </div><!-- info-list -->

    <!-- ########## END: LEFT PANEL ########## -->