<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @restaurant.uid %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @restaurant.slug %>
</p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Country:</strong>
  <%= @restaurant.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @restaurant.city %>
</p>

<p>
  <strong>Status:</strong>
  <%= @restaurant.status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
