<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @food_restaurant.uid %>
</p>

<p>
  <strong>Food:</strong>
  <%= @food_restaurant.food_id %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @food_restaurant.restaurant_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @food_restaurant.status %>
</p>

<%= link_to 'Edit', edit_food_restaurant_path(@food_restaurant) %> |
<%= link_to 'Back', food_restaurants_path %>
