<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @member.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @member.last_name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @member.sex %>
</p>

<p>
  <strong>Role:</strong>
  <%= @member.role_id %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @member.restaurant_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @member.status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @member.description %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
